
<div class="pills_pouches">
  <div class="container">
    <div id="essentials_kit" class="">
      <h1 id="essentials_header">Essentials Kit</h1>
      <h4>Look Good, Feel Good</h4>
      <h3>$149</h3>
      <ul class="essentials_kit_list">
        <li><b>30</b> The Foundation</li>
        <li><b>10</b> Daily Good Greens - Original</li>
        <li><b>10</b> Daily Good Greens - Berry</li>
        <li><b>10</b> Daily Good Greens - Chocolate</li>
      </ul>
     
      <p id="quantity">
        <h4>Quantitiy:
          <select name="" id="quantity_selector">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </h4>
      </p>
        <div class="subscribe_box">
          <input type="checkbox" name="subscribe"  id="subscribe_checkbox"  /> 
          <label for="subscribe_checkbox">Subscribe & Save 10% <%= image_tag "question_mark.png" %></label>
        </div>
      <div class="buy_button">
        BUY NOW
         <!-- <%= button_to :buy %> -->
      </div>
    </div>
  </div>
</div>

  <div class="essence_section">
    <div class="container">
      <div class="col-xs-12 col-md-8 col-lg-12">
        <ul class="mag_listing">
          <li><%= image_tag "shape_mag.png" %></li>
          <li><%= image_tag "refinery_29.png"%></li>
          <li><%= image_tag "oprah_mag.png"%></li>
          <li><%= image_tag "well_good.png"%></li>
          <li><%= image_tag "vogue.png"%></li>
          <li><%= image_tag "forbes.png"%></li>
          <li><%= image_tag "mens_fitness_mag.png"%></li>
          <li><%= image_tag "redbook.png"%></li>
        </ul>
        <h1 id="essence_title">
          OF THE <b>ESSENCE</b>
        </h1>
        <p id="essence_body">
          What you want, what you need, and what you deserve: whole food nourishment. <br>The Foundation and Daily Good Greens work together to give you the nutrients your body <br>craves. Look and feel amazing with the best ingredients on Earth, from Earth.
        </p>

        <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Boosts Immune System</li>
              <li><b>+</b> Improves Mood</li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Promotes Glowing Skin</li>
              <li><b>+</b> Increases Energy</li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Aids Digestion</li>
              <li><b>+</b> Sharpens Cognition</li>
            </ul>
          </div>
        </div>
        <ul class="benefits_listing">
          <span class="benefits_text"><li><%= image_tag "icons/vegan.png" %>Vegan</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/non_gmo.png" %>Non-GMO</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/gluten_free.png" %>Gluten-Free</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/soy_free.png" %>Soy-Free</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/nothing_artificial.png" %>Nothing Artificial</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/organic.png" %>Made With Organic Ingredients</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/fda_cgmp.png" %>FDA cGMP</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/independently_tested.png" %>Independently Tested</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/sustainable_solutions.png" %>Sustainable Solutions</li></span>
        </ul>
    </div>
  </div>

