
<div class="pills_pouches">
  <div id="essentials_kit" class="">
    
    
  </div>
</div>

  <div class="essence_section">
    <div class="container">
      <div class="col-xs-12 col-md-8 col-lg-12">
        <ul class="mag_listing">
          <li><%= image_tag "shape_mag.png" %></li>
          <li><%= image_tag "refinery_29.png"%></li>
          <li><%= image_tag "oprah_mag.png"%></li>
          <li><%= image_tag "well_good.png"%></li>
          <li><%= image_tag "vogue.png"%></li>
          <li><%= image_tag "forbes.png"%></li>
          <li><%= image_tag "mens_fitness_mag.png"%></li>
          <li><%= image_tag "redbook.png"%></li>
        </ul>
        <h1 id="essence_title">
          OF THE <b>ESSENCE</b>
        </h1>
        <p id="essence_body">
          What you want, what you need, and what you deserve: whole food nourishment. <br>The Foundation and Daily Good Greens work together to give you the nutrients your body <br>craves. Look and feel amazing with the best ingredients on Earth, from Earth.
        </p>

        <div class="col-xs-4 col-md-1 col-lg-4">
          <ul class="essence_plus_lists">
            <li><b>+</b> Boosts Immune System</li>
            <li><b>+</b> Improves Mood</li>
          </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
          <ul class="essence_plus_lists">
            <li><b>+</b> Promotes Glowing Skin</li>
            <li><b>+</b> Increases Energy</li>
          </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
          <ul class="essence_plus_lists">
            <li><b>+</b> Aids Digestion</li>
            <li><b>+</b> Sharpens Cognition</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
