<!-- PILLS AND POUCHES AND WIDGEST -->
<div class="pills_pouches">
  <div class="container">
    <div id="essentials_kit" class="">
      <h1 id="essentials_header">Essentials Kit</h1>
      <h4>Look Good, Feel Good</h4>
      <h3>$149</h3>
      <ul class="essentials_kit_list">
        <li><b>30</b> The Foundation</li>
        <li><b>10</b> Daily Good Greens - Original</li>
        <li><b>10</b> Daily Good Greens - Berry</li>
        <li><b>10</b> Daily Good Greens - Chocolate</li>
      </ul>
     
      <p id="quantity">
        <h4>Quantitiy:
          <select name="" id="quantity_selector">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </h4>
      </p>
        <div class="subscribe_box">
          <input type="checkbox" name="subscribe"  id="subscribe_checkbox"  /> 
          <label for="subscribe_checkbox">Subscribe & Save 10% <%= image_tag "question_mark.png" %></label>
        </div>
      <div class="buy_button">
        BUY NOW
         <!-- <%= button_to :buy %> -->
      </div>
    </div>
  </div>
</div>
<!-- ESSENCE SECTION WITH MAGAZINE LOGOS AND BENEFITS -->
  <div class="essence_section">
    <div class="container">
      <div class="col-xs-12 col-md-8 col-lg-12">
        <ul class="mag_listing">
          <li><%= image_tag "shape_mag.png" %></li>
          <li><%= image_tag "refinery_29.png"%></li>
          <li><%= image_tag "oprah_mag.png"%></li>
          <li><%= image_tag "well_good.png"%></li>
          <li><%= image_tag "vogue.png"%></li>
          <li><%= image_tag "forbes.png"%></li>
          <li><%= image_tag "mens_fitness_mag.png"%></li>
          <li><%= image_tag "redbook.png"%></li>
        </ul>
        <h1 id="essence_title">
          OF THE <b>ESSENCE</b>
        </h1>
        <p id="essence_body">
          What you want, what you need, and what you deserve: whole food nourishment. <br>The Foundation and Daily Good Greens work together to give you the nutrients your body <br>craves. Look and feel amazing with the best ingredients on Earth, from Earth.
        </p>

        <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Boosts Immune System</li>
              <li><b>+</b> Improves Mood</li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Promotes Glowing Skin</li>
              <li><b>+</b> Increases Energy</li>
            </ul>
          </div>
          <div class="col-xs-4 col-md-1 col-lg-4">
            <ul class="essence_plus_lists">
              <li><b>+</b> Aids Digestion</li>
              <li><b>+</b> Sharpens Cognition</li>
            </ul>
          </div>
        </div>
        <ul class="benefits_listing">
          <span class="benefits_text"><li><%= image_tag "icons/vegan.png" %><br>Vegan</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/non_gmo.png" %><br>Non-GMO</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/gluten_free.png" %><br>Gluten-Free</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/soy_free.png" %><br>Soy-Free</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/nothing_artificial.png" %><br>Nothing <br>Artificial</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/organic.png" %><br>Made With <br>Organic <br>Ingredients</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/fda_cgmp.png" %><br>FDA cGMP</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/independently_tested.png" %><br>Independently <br>Tested</li></span>
          <span class="benefits_text"><li><%= image_tag "icons/sustainable_solutions.png" %><br>Sustainable <br>Solutions</li></span>
        </ul>
    </div>
  </div>

    <!-- FIRST PAGE BREAK: RED -->
  <div class="page_break_one">
    <b>Morning, Noon, Night </b><br> Feel energized, sharp, and beautiful all day, every day.
  </div>
<!-- PACKET SUPPLEMENT FACTS AND CIRCLES -->
  <div class="packet_supplements">
    <div class="container">
      <div class="col-xs-12 col-md-8 col-lg-12">
        <h1>EVERY <b>ESSENTIALS KIT</b> CONTAINS:</h1>
        <!-- GREEN CIRCLE AND FACTS -->
            <div id="green_circle_image" class="col-xs-6 col-md-4 col-lg-6">
              <%= image_tag "2_servings_circle_green.png" %>
            </div>
            <div id="green_circle_facts" class="col-xs-6 col-md-4 col-lg-6">
              <h4 id="packets">30 PACKETS</h4>
              <h2 id="daily_greens">DAILY GOOD GREENS</h2>
              <h4 id="green_powders">GREEN POWDERS</h4>

              <ul id="boxes">
                <span id="original"><li>10 ORIGINAL</li></span>
                <span id="chocolate"><li>10 CHOCOLATE</li></span>
                <span id="berry"><li>10 BERRY</li></span>
              </ul>

              <h4 id="high_quality">Highest-Quality Superfoods</h4>
              <h4 id="learn_more">Learn More</h4>

               <h4 class="supplement_facts_label"><%= image_tag "download_button.png" %> &nbsp; <u>Supplement Fact Label</u></h4>
            </div>

      <!-- ORANGE CIRCLE AND FACTS -->
        <div class="col-xs-6 col-md-4 col-lg-6" id="orange_circle_image">
          <%= image_tag "50_orange.png" %>
        </div>
         <div id="orange_circle_facts" class="col-xs-6 col-md-4 col-lg-6">
              <h4 id="packets">30 PACKETS</h4>
              <h2 id="foundation">THE FOUNDATION</h2>
              <h4 id="daily_nutrients">DAILY NUTRIENTS</h4>
              <h3 id="nature_made">Powerful nature-made nutrients.</h3>
              <h4 id="learn_more">Learn More</h4>

               <h4 class="supplement_facts_label"><%= image_tag "download_button.png" %> &nbsp; <u>Supplement Fact Label</u></h4>
        </div>
      </div>
    </div>
  </div>
<!-- SECOND PAGE BREAK: YELLOW -->
  <div class="page_break_two">
    <div class="container">
      <p id="why_wait"> Why wait to feel great? <b>Buy Now! </b>>></p>
   </div>
  </div>
<!-- EDUCATION CIRCLE SECTION -->
  <div class="education">
    <div class="container">
      
      <h1>HOW DO THEY <b>WORK?</b></h1>
      <h4>Nutrient powers, combined!</h4>
      <h4>Here's how they make you feel your best</h4>
      <!-- SPACER COLUMN -->
      <div class="col-lg-1 col-xs-1"></div>  
      <!-- BACKGROUND IMG HAS THE FOODS/THIS IMAGE IS ALL THE CIRCLES -->
      <div class="education_circle_section col-lg-10 col-xs-10 col-md-8 ">
        <%= image_tag "education/education_circles_all.png", class: "education_circles" %>
      </div>
      <!-- SPACER COLUMN -->
      <div class="col-lg-1 col-xs-1"></div>
    </div>
  </div>

  <div class="page_break_three">
    
  </div>

  
